head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  // Facebook sharing information tags
  meta(property='og:title')
  title
  style(type='text/css').
    /* Client-specific Styles */
    #outlook a {
    padding: 0;
    }
    /* Force Outlook to provide a "view in browser" button. */
    body {
    width: 100% !important;
    }
    .ReadMsgBody {
    width: 100%;
    }
    .ExternalClass {
    width: 100%;
    }
    /* Force Hotmail to display emails at full width */
    body {
    -webkit-text-size-adjust: none;
    }
    /* Prevent Webkit platforms from changing default text sizes. */
    /* Reset Styles */
    body {
    margin: 0;
    padding: 0;
    }
    img {
    border: 0;
    height: auto;
    line-height: 100%;
    outline: none;
    text-decoration: none;
    }
    table td {
    border-collapse: collapse;
    }
    #backgroundTable {
    height: 100% !important;
    margin: 0;
    padding: 0;
    width: 100% !important;
    }
    /* Template Styles */
    /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: COMMON PAGE ELEMENTS /\/\/\/\/\/\/\/\/\/\ */
    /**
    * @tab Page
    * @section background color
    * @tip Set the background color for your email. You may want to choose one that matches your company's branding.
    * @theme page
    */
    body,
    #backgroundTable {
    /*@editable*/
    background-color: #FAFAFA;
    }
    /**
    * @tab Page
    * @section email border
    * @tip Set the border for your email.
    */
    #templateContainer {
    /*@editable*/
    border: 1px solid #DDDDDD;
    }
    /**
    * @tab Page
    * @section heading 1
    * @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
    * @style heading 1
    */
    h1,
    .h1 {
    /*@editable*/
    color: #202020;
    display: block;
    /*@editable*/
    font-family: Arial;
    /*@editable*/
    font-size: 34px;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    /*@editable*/
    text-align: left;
    }
    /**
    * @tab Page
    * @section heading 2
    * @tip Set the styling for all second-level headings in your emails.
    * @style heading 2
    */
    h2,
    .h2 {
    /*@editable*/
    color: #202020;
    display: block;
    /*@editable*/
    font-family: Arial;
    /*@editable*/
    font-size: 30px;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    /*@editable*/
    text-align: left;
    }
    /**
    * @tab Page
    * @section heading 3
    * @tip Set the styling for all third-level headings in your emails.
    * @style heading 3
    */
    h3,
    .h3 {
    /*@editable*/
    color: #202020;
    display: block;
    /*@editable*/
    font-family: Arial;
    /*@editable*/
    font-size: 26px;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    /*@editable*/
    text-align: left;
    }
    /**
    * @tab Page
    * @section heading 4
    * @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
    * @style heading 4
    */
    h4,
    .h4 {
    /*@editable*/
    color: #202020;
    display: block;
    /*@editable*/
    font-family: Arial;
    /*@editable*/
    font-size: 22px;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    /*@editable*/
    text-align: left;
    }
    /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: HEADER /\/\/\/\/\/\/\/\/\/\ */
    /**
    * @tab Header
    * @section header style
    * @tip Set the background color and border for your email's header area.
    * @theme header
    */
    #templateHeader {
    /*@editable*/
    background-color: #FFFFFF;
    /*@editable*/
    border-bottom: 0;
    }
    /**
    * @tab Header
    * @section header text
    * @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
    */
    .headerContent {
    /*@editable*/
    color: #202020;
    /*@editable*/
    font-family: Arial;
    /*@editable*/
    font-size: 34px;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 100%;
    /*@editable*/
    padding: 0;
    /*@editable*/
    text-align: center;
    /*@editable*/
    vertical-align: middle;
    padding: 20px;
    }
    /**
    * @tab Header
    * @section header link
    * @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
    */
    .headerContent a:link,
    .headerContent a:visited,
    /* Yahoo! Mail Override */
    .headerContent a .yshortcuts
    /* Yahoo! Mail Override */
    {
    /*@editable*/
    color: #336699;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    text-decoration: underline;
    }
    #headerImage {
    height: auto;
    max-width: 600px !important;
    }
    /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: MAIN BODY /\/\/\/\/\/\/\/\/\/\ */
    /**
    * @tab Body
    * @section body style
    * @tip Set the background color for your email's body area.
    */
    #templateContainer,
    .bodyContent {
    /*@editable*/
    background-color: #FFFFFF;
    }
    /**
    * @tab Body
    * @section body text
    * @tip Set the styling for your email's main content text. Choose a size and color that is easy to read.
    * @theme main
    */
    .bodyContent div {
    /*@editable*/
    color: #505050;
    /*@editable*/
    font-family: Arial;
    /*@editable*/
    font-size: 14px;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    text-align: left;
    }
    /**
    * @tab Body
    * @section body link
    * @tip Set the styling for your email's main content links. Choose a color that helps them stand out from your text.
    */
    .bodyContent div a:link,
    .bodyContent div a:visited,
    /* Yahoo! Mail Override */
    .bodyContent div a .yshortcuts
    /* Yahoo! Mail Override */
    {
    /*@editable*/
    color: #336699;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    text-decoration: underline;
    }
    /**
    * @tab Body
    * @section data table style
    * @tip Set the background color and border for your email's data table.
    */
    .templateDataTable {
    /*@editable*/
    background-color: #FFFFFF;
    /*@editable*/
    border: 1px solid #DDDDDD;
    }
    /**
    * @tab Body
    * @section data table heading text
    * @tip Set the styling for your email's data table text. Choose a size and color that is easy to read.
    */
    .dataTableHeading {
    /*@editable*/
    background-color: #4c4c4c;
    /*@editable*/
    color: #ffff;
    /*@editable*/
    font-family: Helvetica;
    /*@editable*/
    font-size: 14px;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    text-align: left;
    }
    /**
    * @tab Body
    * @section data table heading link
    * @tip Set the styling for your email's data table links. Choose a color that helps them stand out from your text.
    */
    .dataTableHeading a:link,
    .dataTableHeading a:visited,
    /* Yahoo! Mail Override */
    .dataTableHeading a .yshortcuts
    /* Yahoo! Mail Override */
    {
    /*@editable*/
    color: #FFFFFF;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    text-decoration: underline;
    }
    /**
    * @tab Body
    * @section data table text
    * @tip Set the styling for your email's data table text. Choose a size and color that is easy to read.
    */
    .dataTableContent {
    /*@editable*/
    border-top: 1px solid #DDDDDD;
    /*@editable*/
    border-bottom: 0;
    /*@editable*/
    color: #202020;
    /*@editable*/
    font-family: Helvetica;
    /*@editable*/
    font-size: 12px;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    text-align: left;
    }
    /**
    * @tab Body
    * @section data table link
    * @tip Set the styling for your email's data table links. Choose a color that helps them stand out from your text.
    */
    .dataTableContent a:link,
    .dataTableContent a:visited,
    /* Yahoo! Mail Override */
    .dataTableContent a .yshortcuts
    /* Yahoo! Mail Override */
    {
    /*@editable*/
    color: #202020;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    text-decoration: underline;
    }
    /**
    * @tab Body
    * @section button style
    * @tip Set the styling for your email's button. Choose a style that draws attention.
    */
    .templateButton {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    /*@editable*/
    background-color: #336699;
    /*@editable*/
    border: 0;
    border-collapse: separate !important;
    border-radius: 3px;
    }
    /**
    * @tab Body
    * @section button style
    * @tip Set the styling for your email's button. Choose a style that draws attention.
    */
    .templateButton,
    .templateButton a:link,
    .templateButton a:visited,
    /* Yahoo! Mail Override */
    .templateButton a .yshortcuts
    /* Yahoo! Mail Override */
    {
    /*@editable*/
    color: #FFFFFF;
    /*@editable*/
    font-family: Arial;
    /*@editable*/
    font-size: 15px;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    letter-spacing: -.5px;
    /*@editable*/
    line-height: 100%;
    text-align: center;
    text-decoration: none;
    }
    .bodyContent img {
    display: inline;
    height: auto;
    }
    /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: FOOTER /\/\/\/\/\/\/\/\/\/\ */
    /**
    * @tab Footer
    * @section footer style
    * @tip Set the background color and top border for your email's footer area.
    * @theme footer
    */
    #templateFooter {
    /*@editable*/
    background-color: #FFFFFF;
    /*@editable*/
    border-top: 0;
    }
    /**
    * @tab Footer
    * @section footer text
    * @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
    * @theme footer
    */
    .footerContent div {
    /*@editable*/
    color: #707070;
    /*@editable*/
    font-family: Arial;
    /*@editable*/
    font-size: 12px;
    /*@editable*/
    line-height: 125%;
    /*@editable*/
    text-align: center;
    }
    /**
    * @tab Footer
    * @section footer link
    * @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
    */
    .footerContent div a:link,
    .footerContent div a:visited,
    /* Yahoo! Mail Override */
    .footerContent div a .yshortcuts
    /* Yahoo! Mail Override */
    {
    /*@editable*/
    color: #336699;
    /*@editable*/
    font-weight: normal;
    /*@editable*/
    text-decoration: underline;
    }
    .footerContent img {
    display: inline;
    }
    /**
    * @tab Footer
    * @section utility bar style
    * @tip Set the background color and border for your email's footer utility bar.
    * @theme footer
    */
    #utility {
    /*@editable*/
    background-color: #FFFFFF;
    /*@editable*/
    border: 0;
    }
    /**
    * @tab Footer
    * @section utility bar style
    * @tip Set the background color and border for your email's footer utility bar.
    */
    #utility div {
    /*@editable*/
    text-align: center;
    }
    #monkeyRewards img {
    max-width: 190px;
    }
    .borderHeader {
    width: 100%;
    height: 5px;
    background: black;
    }
    .dataTableHeadingParent {
    /*@editable*/
    background-color: #4c4c4c;
    /*@editable*/
    color: #ffff;
    /*@editable*/
    font-family: Helvetica;
    /*@editable*/
    font-size: 14px;
    /*@editable*/
    font-weight: bold;
    /*@editable*/
    line-height: 150%;
    /*@editable*/
    text-align: left;
    padding: 10px;
    width: "100%";
    }
center
  table#backgroundTable(border='0' cellpadding='0' cellspacing='0' height='100%' width='100%')
    tr
      td(align='center' valign='top' style='padding-top:20px;')
        table#templateContainer(border='0' cellpadding='0' cellspacing='0' width='600')
          tr
            td(align='center' valign='top')
              // // Begin Template Header \\
              table#templateHeader(border='0' cellpadding='0' cellspacing='0' width='600')
                tr
                  td.headerContent
                    // // Begin Module: Standard Header Image \\
                    img(src='https://res.cloudinary.com/hammerstoutdenim/image/upload/v1556261336/logo2.jpg' style='max-width:250px;' id='headerImage campaign-icon' mc:label='header_image' mc:edit='header_image' mc:allowdesigner='' mc:allowtext='')
                    // // End Module: Standard Header Image \\
              // // End Template Header \\
          tr
            td
              .borderHeader
    tr
      td(align='center' valign='top')
        // // Begin Template Body \\
        table#templateBody(border='0' cellpadding='0' cellspacing='0' width='600')
          tr
            td(valign='top')
              // // Begin Module: Standard Content \\
              table(border='0' cellpadding='20' cellspacing='0' width='100%')
                tr
                  td.bodyContent(valign='top')
                    div(mc:edit='std_content00')
                      h4.h4 Halo 
                      p
                        | Tolong Segera lakukan pembayaran senilai 
                        strong
                          | IDR 205.000
                          br
                          br
                        strong
                          | Sebelum
                          | tanggal :
                          | 2019-03-05 23:41:04
                      |                                             * Abaikan apabila sudah melakukan pembayaran
                tr
                  td(valign='top' style='padding-top:0; padding-bottom:0;')
                    table.templateDataTable(border='0' cellpadding='10' cellspacing='0' width='100%')
                      tr
                        h4.dataTableHeadingParent ORDER DETAIL
                      tr
                        td.dataTableContent(valign='top')
                          | ORDER ID : 58O7A82
                      tr
                        td.dataTableContent(valign='top')
                          | PLACED ON : 2019-04-24 17:23:22
                      tr
                        td.dataTableContent(valign='top')
                          | VIRTUAL ACCOUNT : 07743262153
                      tr
                        td.dataTableContent(valign='top')
                          | EXPIRED AT : 27 April 15:17 WIB
                      tr
                        td.dataTableContent(valign='top')
                          | TOTAL PRICE : IDR 205.000
                tr
                  td
                tr
                  td(valign='top' style='padding-top:0; padding-bottom:0;')
                    table.templateDataTable(border='0' cellpadding='10' cellspacing='0' width='100%')
                      tr
                        h4.dataTableHeadingParent PRODUCTS
                      tr
                        th.dataTableHeading(scope='col' valign='top' width='35%' mc:edit='data_table_heading00')
                          | NAME
                        th.dataTableHeading(scope='col' valign='top' width='30%' mc:edit='data_table_heading00')
                          | PRICE
                        th.dataTableHeading(scope='col' valign='top' width='5%' mc:edit='data_table_heading00')
                          | QUANTITY
                        th.dataTableHeading(scope='col' valign='top' width='30%' mc:edit='data_table_heading00')
                          | TOTAL
                      tr
                        td.dataTableContent(valign='top')
                          | Strike Navy Maroon Backpack
                        td.dataTableContent(valign='top')
                          | Rp 329.000
                        td.dataTableContent(valign='top')
                          | 1
                        td.dataTableContent(valign='top')
                          | Rp 329.000
                tr
                  td
                tr(style='margin:10px;')
                  td(valign='top' style='padding-top:0; padding-bottom:0;')
                    table.templateDataTable(border='0' cellpadding='10' cellspacing='0' width='100%')
                      tr
                        h4.dataTableHeadingParent BILLING ADDRESS
                      tr
                        td.dataTableContent(valign='top')
                          | Nama : Faris
                      tr
                        td.dataTableContent(valign='top')
                          | Email : farisd117@gmail.com
                      tr
                        td.dataTableContent(valign='top')
                          | No telepon: farisd117@gmail.com
                      tr
                        td.dataTableContent(valign='top')
                          | Provinsi: Jawa Barat
                      tr
                        td.dataTableContent(valign='top')
                          | Kabupaten/Kota: Kota Bandung
                      tr
                        td.dataTableContent(valign='top')
                          | Kecamatan: Antapani
                      tr
                        td.dataTableContent(valign='top')
                          | Kelurahan: Antapani Kidul
                      tr
                        td.dataTableContent(valign='top')
                          | Kode POS: 40291
                      tr
                        td.dataTableContent(valign='top')
                          | Alamat Lengkap: Komp antapanimas no 19 b bandung rt 02 rw 19 kota bandung
          tr
            td.bodyContent(valign='top')
              div(mc:edit='std_content01')
                | Where 
                a(href='http://www.mailchimp.com/' target='_blank') MailChimp
                |  can be used to send newsletters to several
                |                                 subscribers in one large blast, 
                a(href='http://www.mandrill.com/' target='_blank') Mandrill
                |  is specifically positioned to send
                |                                 transactional emails, and offers relevant tracking and metrics that
                |                                 isn&apos;t necessarily available through a traditional email platform.
          tr
            td(align='center' valign='top' style='padding-top:0;')
              table.templateButton(border='0' cellpadding='15' cellspacing='0')
                tr
                  td.templateButtonContent(valign='middle')
                    div(mc:edit='std_content02')
                      a(href='http://www.mandrill.com/' target='_blank') See What Mandrill Can Do
        // // End Module: Standard Content \\
  // // End Template Body \\
  tr
    td(align='center' valign='top')
      // // Begin Template Footer \\
      table#templateFooter(border='0' cellpadding='10' cellspacing='0' width='600')
        tr
          td.footerContent(valign='top')
            // // Begin Module: Transactional Footer \\
            table(border='0' cellpadding='10' cellspacing='0' width='100%')
              tr
                td(valign='top')
                  div(mc:edit='std_footer')
                    em
                      | Copyright &copy; *|CURRENT_YEAR|*
                      | *|LIST:COMPANY|*, All rights
                      | reserved.
                    br
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;*|IFNOT:ARCHIVE_PAGE|*
                    |                                         *|LIST:DESCRIPTION|*
                    br
                    strong
                      | Our mailing address
                      | is:
                    br
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;*|HTML:LIST_ADDRESS_HTML|**|END:IF|*
              tr
                td#utility(valign='middle')
                  div(mc:edit='std_utility')
                    a(href='*|ARCHIVE|*' target='_blank')
                      | view this in
                      | your browser
                    |  | 
                    a(href='*|UNSUB|*') unsubscribe from this list
                    |  |
                    a(href='*|UPDATE_PROFILE|*') update subscription preferences
            // // End Module: Transactional Footer \\
      // // End Template Footer \\
  br
